@model UserModel
@{
    ViewData["Title"] = "Change Account Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4"> Change Account Password -  <i> @Model.UserName </i> </h1>
</div>


@if (TempData["message"] != null)
{
    <div class="container alert alert-secondary alert-dismissible fade show" role="alert">
         @TempData["message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container">

    <form href="/ChangePassword" method="post">
        <div class="mt-2 row">
            <div class="col-6">
                <label>Username</label>
                <input class="form-control" type="text" disabled asp-for="UserName" aria-label="readonly input example">
            </div>

            <div class="col-6">
                <label>Old Password</label>
                <input class="form-control" type="password" required asp-for="OldPassword" aria-label="readonly input example">
            </div>
            <div class="col-6">
                <label>New Password</label>
                <input class="form-control" type="password" required asp-for="Password" aria-label="readonly input example">
            </div>
            <div class="col-6">
                <label>Confirm New Password</label>
                <input class="form-control" type="password" required asp-for="ConfirmPassword" aria-label="readonly input example">
            </div>
        </div>

        <br />

        <div class="row text-center mt-2">
            <button type="submit" class="m-1 col btn btn-outline-primary">Save</button>
            <a class="m-1 col btn btn-outline-success" asp-controller="Home" asp-action="Index"> Back to Dashboard </a>
        </div>
    </form>
</div>