
@{
    ViewData["Title"] = "Tasker";
    Layout = "~/Views/Shared/_TaskerLayout.cshtml";
}





@if (TempData["message"] != null)
{
    <div class="alert alert-warning container alert-dismissible fade show" style="background-color:#d5d5d7;" role="alert">
        @TempData["message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container mt-4">
    <div class="jumbotron bg-dark text-center text-white p-4">
        <h1 class="display-4"> @ViewData["Title"] Dashboard</h1>
    </div>
</div>
<br />